body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background:
    radial-gradient(circle at 10% 20%, rgba(219, 255, 226, 0.7), rgba(255, 255, 255, 0.5) 30%),
    radial-gradient(circle at 80% 30%, rgba(136, 224, 253, 0.7), rgba(255, 255, 255, 0.5) 30%),
    radial-gradient(circle at 55% 70%, rgba(229, 255, 145, 0.7), rgba(255, 255, 255, 0.5) 30%),
    radial-gradient(circle at 60% 80%, rgba(163, 189, 255, 0.7), rgba(255, 255, 255, 0.5) 30%);
  background-attachment: fixed;
}